/*-----------------------
General styles
-----------------------*/

.error, .notice, .success { /* override blueprint.css */
  border: 0 none transparent;
  margin-bottom: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
}

.palette th, .palette td {
  padding: 0;
}

.palette-header {
  margin-right: -2px;
}

/*-----------------------
Tables
-----------------------*/

tr.dnd-drop-center td {
  background-color: #cccccc !important;
}

div.dnd-theme-web tr {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

tr.even:hover td, tr.even:hover th {
  background: var(--gs-table-bg-even-hover);
}

/*-----------------------
Forms
-----------------------*/

form ul,
ul.form-data {
  margin: 0; /* override blueprint's settings for unordered lists */
  list-style-type: none;
}

form li,
ul.form-data li {
  display: block;
  margin: 0 0 0.3em;
  padding: 4px 5px 2px 0;
  position: relative;
}

form ul ul {
  margin: 0;
}

form li li {
  padding: 0;
  margin: 0.3em 0;
}

form a.expanded, form a.collapsed {
  background-image: url(../img/icons/silk/bullet_arrow_down.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 16px;
  height: 18px;
  font-weight: bold;
}

form a.collapsed {
  background-image: url(../img/icons/silk/bullet_arrow_right.png);
}

label, span.fieldname {
  border: medium none;
  color: #222;
  display: block;
  font-weight: normal;
  line-height: 1.5em;
  padding: 0 0 1px;
}

li.conformanceItem > label.conformance {
  display: inline;
  margin-right: 0.5em;
}
input[type="checkbox"].indeterminate {
  opacity: 0.5;
}

textarea.cql {
  height: 1.2em;
  width: 95%;
  padding: 3px 3px;
}

textarea.small {
height: 3em;
}

textarea.medium {
height: 7em;
}

input.large, select.large, textarea.large {
width: 100%;
}

select:focus {
background: #fbfaf1;
}

input.longtext {
  width: 50em;
}

/* standard ul inside form */
form ul.plain-ul {
	margin: 0 1.5em 1.5em;
	list-style-type: disc;
}

form ul.plain-ul li {
	display: list-item;
	list-style-type: disc;
}

/* search button inside text field */

input.checkbox, input.radio {
display: block;
height: 13px;
line-height: 1.5em;
margin: 0.6em 0 0 3px;
width: 13px;
}

input.btTxt {
overflow: visible;
padding: 0 7px;
width: auto;
}

div.value,
div.value-wide {
border: 1px solid #7c7c7c;
border-color: #7c7c7c #c3c3c3 #ddd;
background: #f1f1f1;
padding: 0.2em;
width: 25em;
}

div.value-wide {
width: 100%;
}

div.value pre,
div.value-wide pre { /* override blueprint's settings */
margin: 0;
}
